input {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 15px;
}

input:hover{
  border: 1px solid var(--light-blue);
}

label{
  transform: translateY(15%);
  text-align: right;
  margin-right: 10px;
  font-weight: 500;
}

label:hover{
  cursor: pointer;
}